/* hotel name and title */
#hotel_name{
	background: white;
	border-radius: 5px;
	min-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
#hotel_name b{
	font-size: 25px;
}
#show_map{
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

/* hotel detail content */
#hotel_detail_content{
	min-height: 300px;
	padding: 0px;
}
#left_content{
	padding-left: 0px;
}
#left_inner{
	background: white;
	min-height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#left_inner .header{
    text-align: center;
    background: #f88e00;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
}

#right_content_detail{
	padding: 0px;
}
#right_inner{
	padding: 0px;
	min-height: 200px;
}
#slide_gallery_box{
	padding: 0px;
}

/* slider code */
   
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('http://www.giverooms.com/img/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    /*border: #000 2px solid;*/
    box-sizing: content-box;
    background: url('http://www.giverooms.com/img/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 68px;
    height: 68px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}

#detail_info{
	background: white;
	min-height: 400px;
    padding: 0px;
}

/* tab slide code */
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    padding: 0px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links{
    padding: 0px;
    background:#e6e6e6;
    min-height: 35px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    padding: 0px 20px;
    float:left;
    list-style:none;
    min-height: 35px;
    width: 150px;
}

.tab-links a {
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    font-size: 14px;
    line-height: 35px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    text-decoration:none;
}
.tab-links li:hover{
    background:white;
}

li.active , li.active a:hover {
    background: white;
    color:#4c4c4c;
}
li.active{
    background:white;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 10px;
    border-radius:3px;
    /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
#room_img{
    padding: 0px;
    border: 1px solid silver;
    border-radius: 3px;
    margin-top: 10px;
}
#room_info_row{
    border: 1px solid silver;
    margin-bottom: 30px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    background: #f7f7f7;
}
#room_info{
    margin-top: 10px;
    padding: 0px;
    min-height: 30px;
}
#room_info > span{
    color: silver;
    font-size: 20px;
    padding: 5px;
    border:1px solid silver;
    border-radius: 3px;
}
#room_detail_lb{
    min-height: 30px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}
#room_detail_lb > div{
    text-align: center;
    min-height: 30px;
    line-height: 30px;
}
#type_lb{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
#info_box{
    padding: 10px;
    border-right: 1px solid silver;
    min-height: 204px;
    line-height: 183px;
    text-align: center;
}
#info_box:last-child{
    border-right: 0px;
}
#info_box > span{
    font-size: 25px;
    color: silver;
}
.panel-heading{
    /*background: #f88e00;
    color: white;*/
    font-size: 15px;
}
.fa{
    color: #f88e00;
}